/* for mobile devices */


@media screen and (max-width:576px) {

  nav,
  .menu,
  .menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

  }

  nav {
    padding-left: 400px;
  }

  .menu ul {
    margin-top: -40px;
  }

  .menu ul li {
    padding: 20px 0;

  }

  .logo-game {
    padding: 30px;
  }


  .instantly {
    flex-direction: column;
  }

  .instantly .section-title {
    padding-left: 50px;
    text-align-last: left;
  }

  .instantly-content {
    padding-left: 370px;
    width: 100%;
  }

  .instantly-content>.text-light-grey {
    text-align: left;
    padding-left: 50px;
  }

  .instantly-img {
    width: 100%;
  }

  .instantly-img .img {
    width: 100%;
    height: 100%;
  }

  .instantly-img {
    width: 50%;
    height: 50%;

    right: 50px;
    bottom: 160px;
  }

/* deals section */

.deal {
  border: 1px solid #FDCEDF;
  margin: 50px auto;
  width: 90%;
  height: auto; 
  
  padding: 20px; 
}

.deal-title {
  color: #272727;
  text-align: center;
  font-size: 30px; 
  font-weight: 800;
  margin-top: 50px; 
  margin-bottom: 15px; 
}

.deal-paragraph {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 16px; 
  font-weight: 400;
  line-height: 24px; 
}

.deal-form {
  margin-top: 20px; 
  text-align: center; 
}

.deal-form #email {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 80%; 
  max-width: 300px; 
  
  margin-bottom: 10px; 
}

.deal-form #submit {
  width: 80%; 
  max-width: 200px; 
  height: 42px;
  
  
  font-size: 16px; 
  letter-spacing: 1px; 
  border-radius: 5px;
}

.deal {
  margin: 30px auto;
  padding: 10px;
}

.deal-title {
  font-size: 24px; 
  margin-top: 30px; 
  margin-bottom: 10px; 
}

.deal-paragraph {
  font-size: 14px; 
  line-height: 20px; 
}



  /* footer */



  .footer-section {
    width: 1260px;
    height: 880px;
    background-color: rgba(19, 19, 24, 0.05);
  }

  .footer>.logo-travel {
    padding-top: 150px;
    margin-left: 420px;
    margin-bottom: 45px;
    justify-content: center;
  }

  .footer {
    width: 100%;
    height: 100%;
    margin: 0 auto;

  }

  .footer-about {
    padding: 0px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0px 20px 200px;

  }

  .icon {
    margin-top: 100px;
    margin-left: 500px;
    gap: 60px;

  }

  .para {
    width: 35%;
    margin-left: 400px;
  }
}