/* shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish';
}

.text-orange-style {
  color: #FF5400;
}


/* shared styles ends */


nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logo-travel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}

.logo-travel img {
  width: 80px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  display: flex;
  display: inline-block;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 1rem;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}







.instantly {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.instantly-content {
  margin-right: 250px;
  width: 50%;
}

.instantly-content>.section-title {

  color: #131318;
  text-align: left;

  font-size: 40px;

  font-weight: 800;

}

.instantly-content>.text-light-grey {
  margin-top: 30px;
  text-align: left;
  color: rgba(19, 19, 24, 0.70);



}

.content {
  margin-top: 20px;
  color: rgba(19, 19, 24, 0.70);
}

.instantly-img {
  margin-top: 100px;
  width: 50%;
}

.instantly-img .img {
  width: 500px;
  height: 550px;

}

.btn-primary {
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 13px 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #FF5400;
}


/* banner section starts */

.banner {

  background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-position: cover;
  width: 1170px;
  height: 500px;

  border-radius: 16px;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 100px;
  margin-bottom: 50px;


}

.banner-title {
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  justify-content: center;

}

.banner-paragraph {


  color: #FFF;
  text-align: center;

  font-weight: 200;

}

/* Choose Your Destination section start */
.instagram {
  margin: 150px;
}

.insta-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.insta-paragraph {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.insta-img {
  display: flex;
  gap: 15px;
  padding: 0px 10px;
  margin-bottom: 15px;
}

.picture {
  width: 100%;
  height: 100%;
}

/* Choose Your Destination section end */



/* deals section style start */

.deal {
  border: 1px solid #FDCEDF;
  margin: 150px 100px 25px 150px;
  width: 1300px;
  height: 380px;
  background-image: url("../Images/Rectangle\ 8.png");
  background-position: center;
  background-size: cover;
}

.deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 25px;
}

.deal-paragraph {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.deal-form {
  margin-top: 25px;
  margin-left: 280px;
}

.deal-form #email {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 450px;
  height: 33px;
  padding: 5px 10px;

}

.deal-form #submit {
  width: 150px;
  height: 42px;
  background-color: #e58c54;
  color: white;
  font-weight: 600;
  font-family: Lato;
  border: 1px solid transparent;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
}

/* deals section style end */



/* newsletter section starts */

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-style: normal;

}

.section-title {
  color: var #181818;

  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;

}

.btn {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF5400;
}



.contact-column {

  width: 50%;
  background: #FFF;
}



.contact input[type="text"],
.contact input[type="email"],
.contact input[type="number"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #FFF;
  border: 0;
  width: 100%;
}

.design {
  color: #fd880a;
  margin: 0 150px;
  margin-top: 130px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  background-color: rgb(226, 239, 239);
  padding: 100px 100px;

}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 672px;
  height: 422px;
  flex-shrink: 0;
}

/* newsletter section end */


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card h2 {
  font-size: 18px;
  margin: 10px;
}

.card p {
  font-size: 14px;
  margin: 0 10px 10px;
}



/* footer section starts */


.footer-section {
  margin-top: 50px;
  width: 100%;
  height: 430px;
  background-color: rgba(19, 19, 24, 0.05);
}

.footer {
  width: 65%;
  height: 100%;
  margin: 0 auto;

}

.footer>.logo-travel {
  padding-top: 50px;
  margin-left: 350px;
  justify-content: center;
}

.footer-about {
  margin: 30px;
  gap: 40px;
  color: #5A5A5D;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;

}

.icon {
  display: flex;
  margin-top: 50px;
  margin-left: 400px;
  gap: 60px;
  cursor: pointer;
  background: rgba(19, 19, 24, 0.05);
}



.para {

  font-size: .8rem;
  font-weight: 500;
  margin-top: 150px;
  color: #131318;
  text-align: center;
  font-size: 12px;
  font-weight: 300;

}



/* footer section ends */